[Desktop Entry]
Name=Vireo (beta)
GenericName=Email Client
Comment=A clean, fast GNOME-native email client — beta channel
Exec=vireo %u
Icon=co.hyprlab.Vireo.Beta
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;Email;
Keywords=Email;Mail;IMAP;
MimeType=x-scheme-handler/mailto;x-scheme-handler/mid;
StartupNotify=true
StartupWMClass=co.hyprlab.Vireo.Beta
