[Desktop Entry]
Name=Veem
GenericName=Email Client
Comment=A clean, fast GNOME-native email client
Exec=veem
Icon=com.getveem.Veem
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;Email;
Keywords=Email;Mail;IMAP;
StartupNotify=true
StartupWMClass=com.getveem.Veem
